body{
    margin:0;
    font-family:var(--bs-font-sans-serif);
    font-size:1rem;
    font-weight:400;
    line-height:1.5;
    color:#212529;
    background-color:#fff;
    -webkit-text-size-adjust:100%;
    -webkit-tap-highlight-color:transparent
}
.container,.container-fluid,.container-lg,.container-md,.container-sm,.container-xl,.container-xxl{
    width:100%;
    padding-right:var(--bs-gutter-x,.75rem);
    padding-left:var(--bs-gutter-x,.75rem);
    margin-right:auto;
    margin-left:auto
}
@media (min-width:576px){
    .container,.container-sm{
        max-width:540px
    }
}
@media (min-width:768px){
    .container,.container-md,.container-sm{
        max-width:720px
    }
}
@media (min-width:992px){
    .container,.container-lg,.container-md,.container-sm{
        max-width:960px
    }
}
@media (min-width:1200px){
    .container,.container-lg,.container-md,.container-sm,.container-xl{
        max-width:1140px
    }
}
@media (min-width:1400px){
    .container,.container-lg,.container-md,.container-sm,.container-xl,.container-xxl{
        max-width:1320px
    }
}
.form-control{
    display:block;
    width:100%;
    padding:.375rem .75rem;
    font-size:1rem;
    font-weight:400;
    line-height:1.5;
    color:#212529;
    background-color:#fff;
    background-clip:padding-box;
    border:1px solid #ced4da;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    border-radius:.25rem;
    transition:border-color .15s ease-in-out,box-shadow .15s ease-in-out
}
.form-check-input{
    width:1em;
    height:1em;
    margin-top:.25em;
    vertical-align:top;
    background-color:#fff;
    background-repeat:no-repeat;
    background-position:center;
    background-size:contain;
    border:1px solid rgba(0,0,0,.25);
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    -webkit-print-color-adjust:exact;
    color-adjust:exact;
    transition:background-color .15s ease-in-out,background-position .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out
}
.form-check-input:focus{
    border-color:#86b7fe;
    outline:0;
    box-shadow:0 0 0 .25rem rgba(13,110,253,.25)
}
.form-check-input:checked{
    background-color:#0d6efd;
    border-color:#0d6efd
}
.form-switch{
    padding-left:2.5em
}
.form-switch .form-check-input{
    width:2em;
    margin-left:-2.5em;
    background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba%280, 0, 0, 0.25%29'/%3e%3c/svg%3e");
    background-position:left center;
    border-radius:2em
}
.form-switch .form-check-input:focus{
    background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%2386b7fe'/%3e%3c/svg%3e")
}
.form-switch .form-check-input:checked{
    background-position:right center;
    background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e")
}
.btn{
    display:inline-block;
    font-weight:400;
    line-height:1.5;
    color:#212529;
    text-align:center;
    text-decoration:none;
    vertical-align:middle;
    cursor:pointer;
    -webkit-user-select:none;
    -moz-user-select:none;
    user-select:none;
    background-color:transparent;
    border:1px solid transparent;
    padding:.375rem .75rem;
    font-size:1rem;
    border-radius:.25rem;
    transition:color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out
}
.btn-primary{
    color:#fff;
    background-color:#0d6efd;
    border-color:#0d6efd
}
.navbar{
    position:relative;
    display:flex;
    flex-wrap:wrap;
    align-items:center;
    justify-content:space-between;
    padding-top:.5rem;
    padding-bottom:.5rem
}
.navbar>.container,.navbar>.container-fluid,.navbar>.container-lg,.navbar>.container-md,.navbar>.container-sm,.navbar>.container-xl,.navbar>.container-xxl{
    display:flex;
    flex-wrap:inherit;
    align-items:center;
    justify-content:space-between
}
.navbar-brand{
    padding-top:.3125rem;
    padding-bottom:.3125rem;
    margin-right:1rem;
    font-size:1.5rem;
    font-weight:bold;
    font-family: "Lucida Console", "Courier New", monospace;
    text-decoration:none;
    white-space:nowrap
}

.navbar-light .navbar-brand{
    color:rgba(0,0,0,.9)
}
.mt-4{
    margin-top:1.5rem!important
}
.hamburger-menu{
    width:35px;
    height:30px;
    position:fixed;
    top:10px;
    right:30px;
    cursor:pointer;
}
.line{
  width:100%;
  height:4.5px;
  margin:5px 3px;
  background-color:Black;
  transition: all 0.8s;

}
.change .line-1{
    transform:rotateZ(-405deg) translate(-8px, 5px);

}
.change .line-2{
    opacity:0;

}
.change .line-3{
    transform:rotateZ(405deg) translate(-8px, -5px);

}
.nav-list{
    text-align: right;
}
.nav-item{
    list-style:none;
}
.nav-link{
    text-decoration:none;
    font-size:25px;
    color:Olive;
    font-weight:700;
    position:fixed;
    top:15px;
    right:-200px;
    transition: right .8s cubic-bezier(1, 0, 0, 1);
}
.change .nav-link{
    right:100px;
}
h2{
    color:white;
    text-shadow:2px 2px 4px #000000;
    position:fixed;
    top:55px;
    left:375px;
}
.guide{
    border-radius:25px;
    border:3px solid #73AD21;
    border-color:Olive;
    box-shadow:20px 20px 10px grey;
    padding:20px;
    width:800px;
    height:200px;
    position:fixed;
    top:120px;
    left:350px;
    font-family: "Lucida Console", "Courier New", monospace;
    line-height: 1.5;
    word-wrap:break-word;
}
.switch{
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.switch input{
  opacity: 0;
  width: 0;
  height: 0;
}
.slider{
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}
.slider:before{
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
input:checked + .slider{
  background-color: #2196F3;
}
input:focus + .slider{
  box-shadow: 0 0 1px #2196F3;
}
input:checked + .slider:before{
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
.slider.round{
  border-radius: 34px;
}
.slider.round:before{
  border-radius: 50%;
 }
}