{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{% static 'styles.css' %}" rel="stylesheet">
    <title>Smart App</title>
</head>
<body>
  <nav class="navbar navbar-light" style="background-color: #c5aa6a;">
  <div class="container-fluid">
    <a class="navbar-brand mb-0 h1" href="#"> SmartApp </a>
  </div>
</nav>
  <div class="container">
      <!We are adding CSRF Token to provide security from malicious requests>
      {% block content %}
      <form action='/guide' method='post'> {% csrf_token %}</form>
      {% endblock %}
  </div>
<script type="text/javascript" src="{% static 'code.js' %}"></script>
  </body>
</html>
