{% extends "base.html" %}
{% block content %}
	<form method="post">
		{% csrf_token %}

		<div class="form-floating mt-4">
			<textarea placeholder="Enter Your Text Here!" class="form-control" style="height:200px" name="textarea"></textarea>
			<div class="main">
				<br>
				<table>
					<tr>
						<td>
							<span class="switch">
								<input type="checkbox" name="remove_punctuations" id="check1">
								<label class="slider" for="check1"></label>
							</span></td>
						<td>Remove Punctuation</td>
					</tr>
					<tr>
						<td>
							<span class="switch">
								<input type="checkbox" name="upper_case" id="check2">
								<label class="slider" for="check2"></label>
							</span></td>
						<td>Upper Case</td>
					</tr>
					<tr>
						<td>
							<span class="switch">
								<input type="checkbox" name="lower_case" id="check3">
								<label class="slider" for="check3"></label>
							</span></td>
						<td>Lower Case</td>
					</tr>
					<tr>
						<td>
							<span class="switch">
								<input type="checkbox" name="new_line_remove" id="check4">
								<label class="slider" for="check4"></label>
							</span></td>
						<td>New Line Remove</td>
					</tr>
					<tr>
						<td>
							<span class="switch">
								<input type="checkbox" name="extra_space_remove" id="check5">
								<label class="slider" for="check5"></label>
							</span></td>
						<td>Extra Space Remove</td>
					</tr>
					<tr>
						<td>
							<span class="switch">
								<input type="checkbox" name="count_characters" id="check6">
								<label class="slider" for="check6"></label>
							</span></td>
						<td>Count Characters</td>
					</tr>
					<tr>
						<td>
							<span class="switch">
								<input type="checkbox" name="spell_check" id="check7">
								<label class="slider" for="check7"></label>
							</span></td>
						<td>Spell Check</td>
					</tr>
					<tr>
						<td>
							<span class="switch">
								<input type="checkbox" name="generate_word_summary" id="check8">
								<label class="slider" for="check8"></label>
							</span></td>
						<td>Generate Word Summary</td>
					</tr>
					<tr>
						<td>
							<span class="switch">
								<input type="checkbox" name="remove_stop_words" id="check9">
								<label class="slider" for="check9"></label>
							</span></td>
						<td>Remove Stop Words</td>
					</tr>
				</table>
			</div>
		</div>
		<br>
		<hr>
		<a href="guide">
			<button type="submit" class="btn btn-primary" >Submit</button>
		</a>
	</form>
{% endblock %}
